body {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}
/* for navbar */
.nav-wrapper{
  background-color: #17343B;
}

.navigation-links a, .brand-logo {
  color: #739E5A !important;
}

/* for project list, details, */
.project-list-item, .project-details{
  background-color: #C1C44D;
  opacity: 0.9;
  color: #17343B;
  padding: 2%;
}

.project-details .card-title{
  color: #17343B;
  font-size: 300%;
  font-weight: 500;
}

.project-details .project-description{
  padding-top: 5%;
  font-size: 150%;
  font-weight: 300;
}

/* for sign-in,sign-up, create-project  form */
.create-project-form , .sign-in-form, .sign-up-form{
  margin-top: 10% !important;
  text-align: center !important;
  color: #17343B !important;
}

.create-project-form, .sign-in-form, .sign-up-form label, input, textarea{
  color: #17343B !important; 
}

.create-project-form, .sign-in-form, .sign-up-form .input-field{
  width: 50%;
  margin: auto;
  padding: 2%;
}
.btn{
  background-color: #4E7867;
  color: #17343B;
}

/* utility class */
.light-text{
  color: #4E7867;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

