body {
  background-image: url('/background.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* for navbar */
.nav-wrapper{
  background-color: #17343B;
}

.navigation-links a, .brand-logo {
  color: #739E5A !important;
}

/* for project list */
.project-list-item{
  background-color: #C1C44D;
  opacity: 0.9;
  color: #17343B;
  padding: 2%;
}

.light-text{
  color: #4E7867;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

